# Archivos de compilación (Maven y Gradle)
target/
build/
!.mvn/wrapper/maven-wrapper.jar

# Configuración de IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Configuración de Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# Configuración de NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Configuración de VS Code
.vscode/

# Archivos del sistema operativo y logs
.DS_Store
Thumbs.db
*.log